{% extends  "base.html" %}

{% block page_title %}トップページ{% endblock %}

{% block content %}
<!-- ストーリー達成率カードの設置-->
<div class="card">
    <div class="card-body">
        <h5 class="card-title">あなたのストーリーの達成率は</h5>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" 
            role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:75%;text-align:center;"></div>
        </div>
        <div class="progress-values" style="text-align:center;">
            <h3>75%です</h3>
        </div>
    </div>
</div>

<div style="height:2vh;"></div>

<!-- ストーリータスクカードの設置-->
<div class="card">
    <div class="card-body">
        <h5 class="card-title">メインストーリー第1部「時空を超える猫」</h5>
        <div class="card task-contents" style="padding:0.3rem;">
            <div class="row">
                <div class="col-md-1" style="padding: 0 0 0 30px;">
                    <div class="success_btn"></div>
                    <!--<a>
                        <div style="padding:2px 2px;height:25px;width:25px;border-radius:50%;border:2px solid #aaa;"></div>
                    </a> -->
                </div>
                <div class="col-md-11">
                    <p>第1章 「黎明 バルオキーに立つ！」</p>
                </div>
            </div>
        </div>

        <div style="height:0.3vh;"></div>

        <div class="card task-contents" style="padding:0.3rem;">
            <div class="row">
                <div class="col-md-1" style="padding: 0 0 0 30px;">
                    <div class="success_btn"></div>
                </div>
                <div class="col-md-11">
                    <p>第2章 「追跡 月影の森で待つものは•••」</p>
                </div>
            </div>
        </div>

        <div style="height:0.3vh;"></div>

        <div class="card task-contents" style="padding:0.3rem;">
            <div class="row">
                <div class="col-md-1" style="padding: 0 0 0 30px;">
                    <div class="success_btn"></div>
                </div>
                <div class="col-md-11">
                    <p>第3章 「曙光都市 エルジオン 見よ天空の響き」</p>
                </div>
            </div>
        </div>

        <div style="height:0.3vh;"></div>

        <div class="card task-contents" style="padding:0.3rem;">
            <div class="row">
                <div class="col-md-1" style="padding: 0 0 0 30px;">
                    <div class="success_btn"></div>
                </div>
                <div class="col-md-11">
                    <p>第4章 「廃墟に轟け 合成人間の鼓動」</p>
                </div>
            </div>
        </div>

    </div>
</div>

<div style="height:1vh;"></div>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">メインストーリー第1.5部「宿星の王と聖なる剣の挽歌」</h5>
        <div class="card task-contents" style="padding:0.3rem;">
            <div class="row">
                <div class="col-md-1" style="padding: 0 0 0 30px;">
                    <div class="success_btn"></div>
                </div>
                <div class="col-md-11">
                    <p>第27章 「新たなる旅立ち古戦場跡の怪異」</p>
                </div>
            </div>
        </div>

        <div style="height:0.3vh;"></div>

        <div class="card task-contents" style="padding:0.3rem;">
            <div class="row">
                <div class="col-md-1" style="padding: 0 0 0 30px;">
                    <div class="success_btn"></div>
                </div>
                <div class="col-md-11">
                    <p>第28章 「鏡よ鏡いにしえの真実を語れ」</p>
                </div>
            </div>
        </div>

        <div style="height:0.3vh;"></div>

        <div class="card task-contents" style="padding:0.3rem;">
            <div class="row">
                <div class="col-md-1" style="padding: 0 0 0 30px;">
                    <div class="success_btn"></div>
                </div>
                <div class="col-md-11">
                    <p>第29章 「蛇骨島フィーネの祈りの後先」</p>
                </div>
            </div>
        </div>

        <div style="height:0.3vh;"></div>

        <div class="card task-contents" style="padding:0.3rem;">
            <div class="row">
                <div class="col-md-1" style="padding: 0 0 0 30px;">
                    <div class="success_btn"></div>
                </div>
                <div class="col-md-11">
                    <p>第30章 「魔獣城再び秘密の書庫の番人は」</p>
                </div>
            </div>
        </div>

    </div>
</div>




{% endblock %}