{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" 
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <title>サンプルページ</title>
        <style>
            .open{
                top:0;
                left:0;
            }
            .click-menu{
                background:white;
                position:absolute;
                top:0;
                left:0;
                height:100vh;
                width:20%;
            }
        </style>
        <script>
            document.addEventListener('DOMContentLoaded',function(){

                $('.click-menu').toggle();
                
                $('.menu-btn').click(function(){
                    $('.click-menu').stop(true).animate({'width':'toggle'});
                });
            });
            
            
        </script>
      </head>

      <body>
        <header style="background-image:url({% static 'images/anaden_header.JPG' %});">
            <div class="logo" style="float:left;">
                <a href="/">
                    <div style="width:200px;height:60px;background-color:skyblue;opacity:0.5;"></div>
                </a>
            </div>
            <div class="menu-btn" style="float:right;">
                <a id="menu">
                    <div style="width:50px;height:60px;background-color:#eee;opacity:0.5;"></div>
                </a>
                
            </div>
            <div style="clear:both;"></div>
        </header>
        <div id="wrap" style="position:relative;">
            <div class="content">
                <div class="click-menu">
                    <div class="menu-content-box pr-5"></div>
                    <div class="menu-content pr-5 pt-3">
                        <a href="#service" class="menu-link"><i class="fa fa-wrench menu-font"> Service</i></a>
                    </div>
                    <div class="menu-content pr-5 pt-3">
                        <a href="#illust" class="menu-link"><i class="fa fa-pencil menu-font"> イラスト</i></a>
                    </div>
                    <div class="menu-content pr-5 pt-3">
                        <a href="#about" class="menu-link"><i class="fa fa-meh-o menu-font"> About</i></a>
                    </div>
                    <div class="menu-content pr-5 pt-3">
                        <a href="#language" class="menu-link"><i class="fa fa-underline menu-font"> Language</i></a>
                    </div>
                    <div class="menu-content pr-5 pt-3">
                        <a href="#framework" class="menu-link"><i class="fa fa-desktop menu-font"> framework</i></a>
                    </div>
                    <div class="menu-content pr-5 pt-3">
                        <a href="#db" class="menu-link"><i class="fa fa-th  menu-font"> database</i></a>
                    </div>
                    <div class="menu-content pr-5 pt-3">
                        <a href="#in" class="menu-link"><i class="fa fa-list-ul menu-font"> インフラ</i></a>
                    </div>
                    <div class="menu-content pr-5 pt-3">
                        <a href="#link" class="menu-link"><i class="fa fa-gg menu-font"> LINK</i></a>
                    </div>
                </div>
                <div style="height:100vh;background:blue;">

                </div>
            </div>

        </div>
        <footer></footer>

    
        <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
        <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" 
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
        <script src="https://code.jquery.com/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
      </body>
</html>