<!DOCTYPE html>
{% load static %}
<html lang="ja">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" 
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        {% block extra_css %}{% endblock %}

        <title>{% block page_title %}{% endblock %}</title>

        <script>
            document.addEventListener('DOMContentLoaded',function(){
                $('.menu-content').toggle();
                $('.click-menu').toggle();
                //$('.main-contents').toggleClass('click-menu-open');
                
                $('.menu-btn').click(function(){
                    $('.menu-content').stop(true).toggle('fast');
                    $('.click-menu').stop(true).animate({'width':'toggle'});
                    $('.main-contents').stop(true).toggleClass('click-menu-open');
                });

                $('.success_btn').click(function(){
                    var $this = $(this);
                    var card = $this.parents('.card.task-contents');
                    $this.stop(true).toggleClass('clicked');
                    card.slideToggle('fast');
                    console.log(card);
                });
            });
            
            
        </script>
      </head>

      <body>
        <header style="background-image:url({% static 'images/anaden_header.JPG' %});">
            <div class="logo" style="float:left;">
                <a href="/">
                    <div style="width:200px;height:60px;background-color:skyblue;opacity:0.5;">anaden-tool</div>
                </a>
            </div>
            <div class="menu-btn" style="float:right;">
                <a id="menu">
                    <div style="width:50px;height:60px;background-color:#eee;opacity:0.5;"></div>
                </a>
                
            </div>
            <div style="clear:both;"></div>
        </header>
        <div id="wrap" style="position:relative;">
            <div class="contents">
                <div class="click-menu">
                    <div class="menu-content-box pr-5"></div>
                    <div class="menu-content pr-5 pt-3">
                        <a href="#story" class="menu-link">ストーリー</a>
                    </div>
                    <div class="menu-content pr-5 pt-3">
                        <a href="#other_story" class="menu-link">外伝</a>
                    </div>
                    <div class="menu-content pr-5 pt-3">
                        <a href="#other" class="menu-link">その他</a>
                    </div>
                    <div class="menu-content pr-5 pt-3">
                        <a href="#task_management" class="menu-link">やること管理</a>
                    </div>
                    <div class="menu-content pr-5 pt-3">
                        <a href="#fishing" class="menu-link">釣り管理</a>
                    </div>
                    <div class="menu-content pr-5 pt-3">
                        <a href="#mypage" class="menu-link">マイページ</a>
                    </div>
                </div>
                <div class="main-contents">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
        <footer></footer>

    
        <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
        <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" 
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
        <script src="https://code.jquery.com/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
        {% block extra_js %}{% endblock %}
      </body>
</html>